/* ----------- 💫 https://github.com/JaKooLit 💫 -------- */
/* --- Extra - Neon Circuit - waybar style ---*/

/* ===================== COLOR VARIABLES ===================== */
/* Edit these to change the whole theme */

@define-color bar-bg          rgba(0, 0, 0, 0);
@define-color main-bg         #282828;
@define-color main-fg         #f2e59a;
@define-color wb-act-bg       #282828;
@define-color wb-act-fg       #f2e59a;
@define-color wb-hvr-bg       #f2e59a;
@define-color wb-hvr-fg       #313244;

/* --- Change this one to change ALL borders at once --- */
@define-color border          #202020;

@define-color ws-grad-start   #282828;
@define-color ws-grad-end     #6e6e6e;

@define-color clock-color     #f2e59a;
@define-color idle-color      #f2e59a;
@define-color idle-active     #f2e59a;

@define-color temp-color      #f2e59a;
@define-color temp-critical   #ff0000;

@define-color stats-color     #f2e59a;
@define-color menu-color      #f2e59a;
@define-color audio-color     #f2e59a;
@define-color tray-color      #f2e59a;
@define-color tray-bg         #282828;
@define-color weather-color   #f2e59a;
@define-color window-color    #f2e59a;

/* ===================== BASE ===================== */

* {
    border: none;
    border-radius: 0px;
    font-family: "Jersey 15", sans-serif;
    font-weight: normal;
    min-height: 0;
    font-size: 21px;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
    background: @bar-bg;
    color: @wb-act-fg;
}

tooltip {
    background: @main-bg;
    color: @main-fg;
    border-radius: 12px;
    border-width: 0px;
}

/* ===================== WORKSPACES & TASKBAR ===================== */

#taskbar {
    padding: 0px;
    color: @border;
}

/* ===================== TRAY MENUS ===================== */

#tray menu * {
    min-height: 18px;
}

#tray menu separator {
    min-height: 16px;
}

/* ===================== ALL MODULES BASE ===================== */

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#network,
#power-profiles-daemon,
#pulseaudio,
#pulseaudio-slider,
#taskbar button,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-backlight,
#custom-nightlight,
#custom-browser,
#custom-cava_mviz,
#custom-cycle_wall,
#custom-dot_update,
#custom-file_manager,
#custom-keybinds,
#custom-keyboard,
#custom-light_dark,
#custom-nightlight,
#custom-lock,
#custom-hint,
#custom-hypridle,
#custom-menu,
#custom-playerctl,
#custom-power_vertical,
#custom-power,
#custom-quit,
#custom-reboot,
#custom-settings,
#custom-spotify,
#custom-swaync,
#custom-tty,
#custom-updater,
#custom-hyprpicker,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
    color: @main-fg;
    background: @main-bg;
    opacity: 1;
    margin: 3px 0px 3px 0px;
    padding: 2px 15px;
}

#taskbar button,
#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 2px;
    border: 2px;
    border-color: @border;
    border-width: 5px;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 5px;
    color: @wb-act-fg;
    background-color: @ws-grad-start;
    animation: ws_normal 2s ease-in-out 1;
}

#taskbar button.active,
#workspaces button.active {
    background-image: linear-gradient(45deg, @ws-grad-start 50%, @ws-grad-end 50%);
    color: @wb-act-fg;
    border-radius: 12px;
    animation: ws_active 2s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover,
#workspaces button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-fg;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces {
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border: none;
    background: none;
    margin-right: 5px;
}

/* ===================== WINDOW TITLE ===================== */

#window {
    background-image: linear-gradient(45deg, @ws-grad-start 50%, @ws-grad-end 50%);
    color: @wb-act-fg;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: @border;
    margin-right: 5px;
    padding: 0px 20px;
}

/* ===================== CLOCK ===================== */

#clock {
    color: @clock-color;
    border-radius: 12px;
    
    border-width: 2px;
    border-style: solid;
    border-color: @border;
    margin-right: 5px;
}

/* ===================== IDLE INHIBITOR ===================== */

#idle_inhibitor {
    color: @idle-color;
    border-radius: 12px;

    border-style: solid;
    border-right-style: none;
    border-width: 2px;
    border-color: @border;
    margin-right: 0px;
}

#idle_inhibitor.activated {
    color: @idle-active;
}

/* ===================== TEMPERATURE ===================== */

#temperature {
    color: @temp-color;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-style: solid;
    border-right-style: none;
    border-width: 2px;
    border-color: @border;
    margin-left: 5px;
}

#temperature.critical {
    background-color: @temp-critical;
}

/* ===================== ANIMATIONS ===================== */

@keyframes blink {
    to { color: @main-bg; }
}

/* ===================== CPU / DISK / MEMORY ===================== */

#cpu,
#disk,
#memory {
    color: @stats-color;
    border-radius: 0px;
    border-style: solid;
    padding: 3px 5px;
    border-width: 2px;
    border-color: @border;
    margin-right: 0px;
}

/* ===================== MENU ===================== */

#custom-menu {
    color: @menu-color;
    border-radius: 6px;

    border-style: solid;
    border-width: 2px;
    border-color: @border;
    padding-right: 5px;
    padding-left: 5px;
}

/* ===================== NETWORK ===================== */

#network {
    border-radius: 12px;
    border-style: solid;
    border-width: 2px;
    border-color: @border;
    margin-right: 0px;
    padding: 3px 20px;
}

/* ===================== BACKLIGHT ===================== */

#backlight {
    color: @audio-color;
    border-radius: 12px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-style: solid;
    border-right-style: none;
    border-width: 2px;
    border-color: @border;
    margin-left: 5px;
}

/* ===================== PULSEAUDIO ===================== */

#pulseaudio {
    color: @audio-color;
    border-radius: 20px;

    border-style: solid;
    border-left-style: none;
    border-width: 2px;
    border-color: @border;
    margin-right: 0px;
}

#pulseaudio.muted {
    color: red;
}

/* ===================== KEYBOARD STATE ===================== */

#keyboard-state {
    color: @audio-color;
    border-radius: 20px;

    border-style: solid;
    border-left-style: none;
    border-left-width: 0px;
    border-width: 2px;
    border-color: @border;
    margin-right: 5px;
}

/* ===================== UPDATER ===================== */

#custom-updater {
    color: @audio-color;
    border-radius: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: @border;
    margin-right: 0px;
}

/* ===================== HINT ===================== */

#custom-hint {
    color: @audio-color;
    border-radius: 10px;
    border-style: solid;
    padding: 0 10px;
    border-left-width: 0px;
    border-width: 2px;
    border-color: @border;
    margin-right: 5px;
    transition: background .5s ease, color .5s ease;
}

#custom-hint:hover {
    background: @audio-color;
    color: @border;
}

/* ===================== TRAY ===================== */

#tray {
    color: @tray-color;
    font-size: 16px;
    border-radius: 12px;

    border-width: 2px;
    border-style: solid;
    border-color: @tray-bg;
    margin-left: 5px;
    padding-left: 8px;
}

#tray > .active,
#tray > .passive,
#tray menu {
    color: @tray-color;
}


#tray{
    background: @tray-bg;
}

/* ===================== SWAYNC ===================== */

#custom-swaync {
    border-radius: 12px;
    
    border-style: solid;
    border-width: 2px;
    border-color: @border;
    margin-right: 0px;
}

/* ===================== BATTERY ===================== */

#battery {
    border-radius: 20px;

    border-style: solid;
    border-left-style: none;
    border-left-width: 0px;
    border-width: 2px;
    border-color: @border;
    margin-right: 5px;
    padding-right: 8px;
}

/* ===================== POWER ===================== */

#custom-power {
    border-radius: 12px;
    
    border-style: solid;
    border-left-style: none;
    border-width: 2px;
    border-color: @border;
    padding-left: 0px;
    padding-right: 5px;
    margin-right: 5px;
}

/* ===================== WEATHER ===================== */

#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
    border-radius: 12px;
    
    border-width: 2px;
    border-style: solid;
    border-color: @border;
    color: @weather-color;
    margin-right: 5px;
}